body {
	margin: 0;
	font-family: Programme, serif;
}

button {
	font-family: Programme, serif;
}

@font-face {
    font-family: Programme;
    src: url(Programme-Regular.ttf);
}

.countdown-container {
	/* border: 1px solid red; */
	width: fit-content;
	background-color: white;
	padding: 20px;
}

.countdown-container > p {
	width: fit-content;
	padding: 20px;
	font-size: 7rem;
	margin: 0;
}

.countdown-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 100px);
	background-color: lightblue;
	justify-content: center;
}

.countdown-container > .top-row {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.countdown-container > .top-row > button {
	padding: 5px;
	font-size: 1.5rem;
	background: darkblue;
	color: white;
	border: 0;
	border-radius: 5px;
	padding: 15px;
}

.footer-container {
	display: flex;
	color: white;
	background-color: black;
	height: 100px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.footer-container > ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0;
	font-size: 1.1rem;
}

.footer-container a {
	color: white;
}